.editor-main {
  flex-grow: 1;
  background-color: #1e1e2e;
  display: flex;
  flex-direction: column;
}

.taskbar-main {
  width: 100%;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.taskbar-option {
  margin-right: 20px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  margin-bottom: 0.7%;
}

.taskbar-option:hover {
  background-color: #444;
}

.tabs-container {
  height: 5%;
  background-color: #23252f;
}

.below-tabs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.window-tab {
  height: 55%;
  cursor: pointer;
  color: white;
  margin-bottom: 0.7%;
  background-color: #313442;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 0.5%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.window-tab:hover {
  background-color: #424658;
}

.text-container {
  flex-grow: 1;
  background-color: #333;
  color: #fff;
  display: flex; /* Center the textarea within the container */
  justify-content: center;
  align-items: center;
  height: 97.5%;
  margin: 1%;
  line-height: 2;
}

.text-container textarea {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  outline: none;
  resize: none;
  white-space: pre-wrap; /* Make sure the text wraps properly */
  line-height: 1.8; /* Increase line height for more vertical spacing between lines of text */
}

.text-container textarea:focus {
  box-shadow: 0 4px 8px rgba(0, 120, 212, 0.2); /* Enhance the shadow on focus */
}