.editor-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-file-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
}

.clear-logo-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.clear-logo-editor-container img {
  border: 4px solid transparent; /* Gives space for shadow around the image */
  border-radius: 10px; /* Optional: adds rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
  width: 70%;
}

.clear-logo-editor-container:hover img {
  transform: scale(1.1); /* Scales the image slightly on hover */
}

.navbar-option:hover .dropdown {
  display: block;
}

.file-chosen-editor-container {
  width: 98%;
  height: 98%;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-chosen-editor-container-light {
  border: rgb(0, 0, 0) 4px;
}

.filename-editor-container {
  /* background-color: red; */
  width: 100%;
  height: 4%;
  text-align: center;
  margin-top: -0.75%;
}

.editor-main-content-container {
  background-color: var(--color-background);
  border-radius: 1%;
  height: 94%;
  width: 99%;
}

.editor-textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--color-background);
  color: white;
  transition: all 0.3s ease;
  box-sizing: border-box;
  resize: none;
  outline: none;
  min-height: 200px;
}
