@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.lower-main {
  height: 95vh;
  flex-grow: 1;
  display: flex;
}

.browser-container {
  background-color: #262934;
  flex-basis: 50%;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: rgb(77, 77, 77);
  height: 100%;
  user-select: none;
}

/* Apply to the entire page or specific elements */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark gray track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a; /* Lighter gray thumb */
  border-radius: 20px; /* Rounded corners for the thumb */
  border: 2px solid #1e1e1e; /* Adds a border to give the thumb a floating effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #565656; /* Slightly lighter shade for hover */
}

/* Optional: Scrollbar corner styling for when both vertical and horizontal scrollbars are visible */
::-webkit-scrollbar-corner {
  background: #1e1e1e; /* Matches the track background */
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin; /* Slim scrollbar */
  scrollbar-color: #c1c1c1 #1e1e1e; /* Thumb color and track color */
}

/* Example for a specific container */
.scroll-container {
  width: 100%;
  height: 300px;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #1e1e1e;
}

.tabs-container {
  display: flex;
  height: 4.5%;
  gap: 0.5%;
  margin-left: 2%;
  width: 96%;
  white-space: nowrap;
}

.tab {
  padding-left: 1%;
  padding-right: 2.25%;
  display: inline-flex;
  white-space: nowrap;
  background-color: #262934;
  flex-shrink: 0;
}

.tab p {
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
}

.closebtn {
  margin-left: 5%;
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
}

.closebtn:hover {
  background-color: #c1c1c1;
  border-radius: 50%;
}