@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.lower-main {
  height: 95vh;
  flex-grow: 1;
  display: flex;
}

.browser-container {
  background-color: #262934;
  flex-basis: 50%;
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: rgb(77, 77, 77);
  height: 100%;
  user-select: none;
}
